<!--

This file is an example of sub-menu loaded via ajax

-->
<ul class="gallery">

	<li><a href="ajax-demo/explorer-gallery-controls.html" class="open-on-panel-content">
		<span class="stack rotated">
			<img src="img/demo/gallery/picture-1.html">
		</span>
	</a></li>

	<li><a href="javascript:void(0)">
		<img src="img/demo/gallery/picture-2.html" class="framed">
	</a></li>

	<li><a href="javascript:void(0)">
		<img src="img/demo/gallery/picture-3.html" class="framed">
	</a></li>

	<li><a href="javascript:void(0)">
		<img src="img/demo/gallery/picture-4.html" class="framed">
	</a></li>

	<li><a href="javascript:void(0)">
		<img src="img/demo/gallery/picture-7.html" class="framed">
	</a></li>

	<li><a href="javascript:void(0)">
		<img src="img/demo/gallery/picture-5.html" class="framed">
	</a></li>

</ul>